<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/media/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" type="image/x-icon"/>
    <title>LionRockJS example</title>

    <link rel="stylesheet" href="/media/vendors/fontawesome/css/fa.min.css">
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/site.css" />
    <link rel="stylesheet" href="/media/css/admin.css" />
    {% for css in stylesheets %}    <link rel="stylesheet" href="/media/css/{{ css }}" />
    {% endfor %}

    <script type="application/javascript" src="/media/js/site.js" ></script>
    {% for script in scripts %}    <script type="application/javascript" src="/media/js/{{ script }}" ></script>
    {% endfor %}
</head>
<body class="{{ controller }} {{ controller }}-{{ action }}">
<header></header>

{{ main }}

</body>
</html>
