<div class="container mx-auto px-4">
  <form action="/admin/pages" method="post">
    <input type="hidden" name="destination" value="/admin/contents/list/{{ page_type }}">
    <table id="table" class="min-w-full divide-y divide-gray-300 draggable-table">
      <thead>
      <tr class="text-left text-sm font-semibold text-gray-900">
        <th class="px-3 py-3.5 "></th>
        <th class="px-3 py-3.5 "></th>
        <th class="px-3 py-3.5 ">ID</th>
        <th class="px-3 py-3.5 ">Name</th>
        <th class="px-3 py-3.5 text-center">Ordering</th>
        <th class="px-3 py-3.5 text-center">Published</th>
        <th class="px-3 py-3.5 text-center">Live&nbsp;Ordering</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      {% for item in items %}
        <tr class="text-sm text-gray-500">
          <td class="whitespace-nowrap px-3 py-4"><input type="checkbox" name="chk{{item.id}}" /></td>
          <td class="whitespace-nowrap px-3 py-4">{{ forloop.index }}</td>
          <td class="whitespace-nowrap px-3 py-4">{{ item.id }}</td>
          <td class="whitespace-nowrap px-3 py-4"><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
          <td class="whitespace-nowrap px-3 py-4 text-center" style="width:3em" >
            <input class="w-4" type="text" name="({{ item.id }}):weight" value="{{ item.weight }}"/>
          </td>
          <td class="whitespace-nowrap px-3 py-4 text-center">{% if item.published %}{% if item.synced %}<i class="fa-sharp fa-solid fa-circle-check"></i>{% else %}<i class="fa-sharp fa-light fa-arrows-rotate"></i>{% endif %}{% endif %}</td>
          <td class="whitespace-nowrap px-3 py-4 text-center" style="width:3em" >{{ item.live_weight | default: '-'}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="text-end my-3">
      <button type="submit" class="btn btn-secondary text-white">Save Priority</button>
      <button type="submit" name="action" value="publish_weights" class="btn btn-primary text-white">Publish Priority</button>
    </div>

  </form>
</div>