<div class="container mx-auto px-4">
  <form action="/admin/pages" method="post">
    <input type="hidden" name="destination" value="/admin/contents/list/{{ page_type }}">
    <table id="table" class="table-primary draggable-table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th class="text-center">Ordering</th>
        <th class="text-center">Published</th>
        <th class="text-center">Live&nbsp;Ordering</th>
      </tr>
      </thead>
      <tbody class="">
      {% for item in items %}
        <tr>
          <td><input type="checkbox" name="chk{{item.id}}" /></td>
          <td>{{ forloop.index }}</td>
          <td>{{ item.id }}</td>
          <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
          <td class="text-center" style="width:3em" >
            <input class="w-4" type="text" name="({{ item.id }}):weight" value="{{ item.weight }}"/>
          </td>
          <td class="text-center">{% if item.published %}{% if item.synced %}<i class="fa-sharp fa-solid fa-circle-check"></i>{% else %}<i class="fa-sharp fa-light fa-arrows-rotate"></i>{% endif %}{% endif %}</td>
          <td class="text-center" style="width:3em" >{{ item.live_weight | default: '-'}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="text-end my-3">
      <button type="submit" class="button-secondary">Save Priority</button>
      <button type="submit" name="action" value="publish_weights" class="button-primary">Publish Priority</button>
    </div>

  </form>
</div>